<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
</head>
<body>
    <header>
        <h1>User Eligibility Information to Test Our Product</h1>
    </header>

    <section>
        <h2>Eligibility Criteria to Use the App</h2>
        <p>To be eligible to use this app vote, you must meet the following criteria:</p>
        <ul>
            <li>Be a client of the company.</li>
            <li>Be at least 18 years old.</li>
            <li>Have a valid national identification card.</li>
            <!-- <li>Not be under any legal voting disqualifications, such as a court ruling.</li> -->
        </ul>

        <button> <a href=""> Check Spechy </a></button>
    </section>

    <section>
        <h2>How to Obtain Your Voter’s Card</h2>
        <p>Follow these steps to obtain your voter’s card in Cameroon:</p>
        <ol>
            <li>Visit the nearest branch of Elections Cameroon (ELECAM) in your area.</li>
            <li>Present your valid national identification card.</li>
            <li>Provide personal details, including your full name, date of birth, and address.</li>
            <li>Have your photograph and fingerprints taken for registration.</li>
            <li>Receive a temporary voter registration receipt.</li>
            <li>Return to the ELECAM office after the processing period to collect your voter’s card.</li>
        </ol>
        <p>Note: Registration is open during official voter registration periods, as announced by Elections Cameroon (ELECAM).</p>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2025 Animal Spechy Prediction App. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>