<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Welcome to Our Animals Prediction Website Landing Page</h1>
            <nav>
                <ul>
                    <li><a href="features.html">Features</a></li>
                    <li><a href="aboutUs.html">About</a></li>
                    <li><a href="contactUs.html">Contact</a></li>
                    <!-- <li><a href="statistics.html">Past Statistics</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <section id="hero">
        <div class="container">
            <h2>Your Next Big Thing Awaits</h2>
            <p>Join us to make a difference.</p>
            <button>Get Started</button>
        </div>
    </section>
    <section id="features">
        <img src="../images/elegant-wavy-abstract-representation-flag-260nw-2438020683_1.jpg" alt="" srcset="">
        <div class="container1">
            <h3>Features</h3>
            <p>Highlight your best features here.</p>
            <p>Open to public</p> <span></span> <p>Informs on animal criterias</p>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <p>&copy; 2025 Animal Spechy Prediction App. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
